








:root {
    --textColor: #ffffff;
    --textHover: #66cac5;
    --shadowColor: #2d2e35;
    /* match the color to the gradient */
    --backgroundColor: rgb(35, 46, 59);
    --pageBackground: linear-gradient(75deg, #789ab6 1%, #99a0aa 40%, rgb(134, 146, 163) 60%, #6a7e99 90%);
}































