
table {
    overflow-x: hidden;
}

#headertable {
    margin: 2rem auto;
    height: 8rem;
    width: 80%;
}

#icon {
    width: 10%;
}

#free {
    padding: 0 0 0 1.5rem;
}

#browsergames {
    padding: 0 0 0 1.5rem;
}

table {
    border-collapse: collapse;
}

img {
    width: 100%;
    height: 100%;
}