

#background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    background: linear-gradient(0deg, rgba(0,52,255,1) 0%, rgba(76,157,249,1) 50%, rgba(45,210,253,1) 100%);
}

.games-grid {
    justify-content: center;
    display: grid;
    gap: 0 0;
    grid-gap: 0 0;
    grid-template-columns: repeat(auto-fill, 231px);
    grid-auto-rows: 87px;
    grid-auto-flow: dense;
    width: 88%;
    margin: auto;
}

.game-thumbnail {
    z-index: 9;
}
.game-thumbnail-image {
    border-radius: 0;
}
/* The image itself */
.game-thumbnail-image:hover {
    transition: all .2s ease-in-out;
    outline: 3px solid yellow;
    border-radius: 10px;
}
/* The box that contains the image */
.game-thumbnail:hover {
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    transform: scale(1.03);
    z-index: 10;
}
