button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#header {
    background-color: #FFFFFF50;
    padding: 2rem 0;
    margin: 0;
    width: 100%;
    height: auto;
}

#background {
    margin: 0;
    /* background: linear-gradient(0deg, rgba(0,52,255,1) 0%, rgba(76,157,249,1) 50%, rgba(45,210,253,1) 100%);*/
    background: rgb(170,170,170);
    background: linear-gradient(10deg, rgba(170,170,170,1) 0%, rgba(228,228,228,1) 50%, rgba(255,255,255,1) 100%);
}
#fill-page {
    min-height: 100vh;
    max-height: 100%;
}

.games-grid {
    justify-content: center;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, 231px);
    grid-auto-rows: 87px;
    grid-auto-flow: dense;
    width: 88%;
    margin: auto;
}

#sorting-options {
    align-items: center;
    height: 6rem;
    width: 100%;
}
.sorting-option {
    vertical-align: middle;
    background-color: yellow;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    line-height: 0;
}
.sorting-icon {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.sorting-item {
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 0 2rem;
}



.lfs-warning {
    padding: 0.2rem;
    margin: 0;


    background-color: #a74747;
    color: white;
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;

    border-radius: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
}
.game-thumbnail {
    position: relative;
}
.game-thumbnail-image {
    position: relative;
    z-index: 8;
    border-radius: 1rem;
    outline: 2px solid white;
}
/* The image itself */
.game-thumbnail-image:hover {
    transition: all .2s ease-in-out;
    outline: 3px solid yellow;
    border-radius: 10px;
}
/* The box that contains the image */
.game-thumbnail:hover {
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
