button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


#background {
    margin: 0;
    /* background: linear-gradient(0deg, rgba(0,52,255,1) 0%, rgba(76,157,249,1) 50%, rgba(45,210,253,1) 100%);*/
    background: var(--backgroundColor);
}
#fill-page {
    min-height: 100vh;
}

.games-grid {
    justify-content: center;
    display: grid;
    gap: 1rem 1rem;
    grid-template-columns: repeat(auto-fill, 231px);
    grid-auto-rows: 87px;
    grid-auto-flow: dense;
    width: 88%;
    max-width: 1000px;
    margin: auto;
}

#sorting-options {
    align-items: center;
    height: 6rem;
    width: 100%;
}
.sorting-option {
    vertical-align: middle;
    background-color: yellow;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    line-height: 0;
}
.sorting-icon {
    line-height: 0;
    display: inline-block;
    vertical-align: middle;
}
.sorting-item {
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
    padding: 0 2rem;
}

#icon-pc {
    height: 4em;
}
#icon-controller {
    height: 2.6em;
}
#icon-player1, #icon-player2 {
    height: 2.2em;
}


.lfs-warning {
    padding: 0.2rem;
    margin: 0;


    background-color: var(--backgroundColor);
    color: var(--textColor);
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;

    border-radius: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
}
.game-thumbnail {
    position: relative;
}
.game-thumbnail-image {
    position: relative;
    border-radius: 1rem;
    outline: 2px solid white;
    box-shadow: 0 0.5rem 0.5rem -0.25rem var(--shadowColor);
}
/* The image itself */
.game-thumbnail-image:hover {
    transition: all .2s ease-in-out;
    outline: 3px solid yellow;
    border-radius: 10px;
    box-shadow: none;
}
/* The box that contains the image */
.game-thumbnail:hover {
    transition: all .2s ease-in-out;
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
