

#unity-container 
{ 
    position: relative; 
    width: 100%;
    height: 100%;
    
}
#canvas-holder
{
    margin: auto;
    position: relative;
    width: 960px;
}
#unity-canvas 
{ 
    /*padding: 80px;*/
    width: 960px;
    height: 600px;
    background: #231F20;
}
/*
#unity-container.unity-desktop 
{

}*/
#unity-loading-bar 
{ 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo 
{ 
    width: 150px;
    height: 150px;
    background: no-repeat;
    background-image: url('../files/img/webplayer/loading.png');
    background-position: center;
}
#unity-progress-bar-empty 
{ 
    width: 141px; 
    height: 18px; 
    margin-top: 10px; 
    background: no-repeat;
    background-image: url('../files/img/webplayer/progress-bar-empty-dark.png');
    background-position: center;
}
#unity-progress-bar-full 
{ 
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url('../files/img/webplayer/progress-bar-full-dark.png');
    background-position: center;
}
#unity-footer 
{ 
    width: 100%;
    position: relative;
    overflow: auto;
    background-color: lightblue;
}
#unity-webgl-logo 
{ 
    width: 204px;
    height: 38px;
    background:  no-repeat;
    background-size: contain;
    background-image: url('../files/img/webplayer/webgl-logo.png');
    background-position: left;
}
#unity-build-title 
{ 
    margin-right: 1rem;
    text-align: right;
    font-family: arial;
    font-size: 18px;
}
#unity-fullscreen-button 
{ 
    width: 38px;
    height: 38px;
    background: no-repeat;
    background-image: url('../files/img/webplayer/fullscreen-button.png');
    background-position: center;
}
#unity-warning 
{ 
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#unity-container.unity-mobile 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-canvas 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-footer 
{ 
    display: none
}