td {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
}

table {
    border-spacing: 0;
}

#screenshot-container::-webkit-scrollbar {
    color: inherit;
    background-color: #ffffff40;
    height: 1rem;
    -webkit-overflow-scrolling: touch;
}
/* Handle */
#screenshot-container::-webkit-scrollbar-thumb {
    color: inherit;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff40;
    background-color: currentColor;
    opacity: 0.8;
}
/* Handle on hover */
#screenshot-container::-webkit-scrollbar-thumb:hover {
    background-color: currentColor;
    opacity: 1;
}

#screenshot-row {
    height: 0;
}
.screenshot {
    display: inline-block;
    height: 10rem;
    padding: 0;
    margin: 0;
    outline: 2px solid currentColor;
}
#screenshot-container {
    color: gray;
    height: auto;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    font-size: 0;
}

#made-with-unity {
    display: block;
    width: 8rem;
    height: auto;
}

#game-description {
    margin: 2rem auto;
    width: 94%;
}

#description-container {
    width: 100%;
    background-color: rgb(142, 184, 212);
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2rem;
    font-weight: 500;
}

#dev-tag {
    padding: 0 0 1rem 1rem;
}

.dev-logo {
    height: 3rem;
    padding: 0 0.5rem;
}

#developed-by {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
}

#unity-container 
{ 
    position: relative; 
    width: 100%;
    height: 100%;
}
#canvas-holder
{
    margin: auto;
    position: relative;
    width: 960px;
    height: auto;
}
#unity-canvas 
{ 
    width: 100%;
    height: 600px;
    background: #231F20;
    display: block;
}
/*
#unity-container.unity-desktop 
{

}*/
#unity-loading-bar 
{ 
    position: absolute; 
    left: 50%; 
    top: 35%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo 
{ 
    width: 150px;
    height: 150px;
}
#unity-progress-bar-empty 
{ 
    width: 100%; 
    height: 18px; 
    margin-top: 10px; 
    background: no-repeat;
    background-image: url('https://a1games.fun/files/img/webplayer/progress-bar-empty-dark.png');
    background-position: center;
}
#unity-progress-bar-full 
{ 
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url('https://a1games.fun/files/img/webplayer/progress-bar-full-dark.png');
    background-position: center;
}
#unity-footer
{ 
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: auto;
    background-color: #aff2ff;
    vertical-align: top;
}
#unity-header
{ 
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: auto;
    background-color: #aff2ff;

}
#game-logo 
{ 
    display: block;
    margin: auto 0.4rem;
    width: 40px;
    height: auto;
}
#game-title
{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#unity-fullscreen-button 
{ 
    margin: 0 0.16rem 0 1rem;
    width: 36px;
    height: 36px;
    background: no-repeat;
    background-image: url('../files/img/webplayer/fullscreen-button.png');
    background-position: center;
}
#unity-warning 
{ 
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#unity-container.unity-mobile 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-canvas 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-footer 
{ 
    display: none
}