td {
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
}

table {
    border-spacing: 0;
}

#screenshot-container::-webkit-scrollbar {
    color: inherit;
    background-color: transparent;
    height: 1rem;
    -webkit-overflow-scrolling: touch;
}
/* Handle */
#screenshot-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border-style: solid;
    background-color: currentColor;
    opacity: 0.8;
}
/* Handle on hover */
#screenshot-container::-webkit-scrollbar-thumb:hover {
    background-color: currentColor;
    opacity: 1;
}

#screenshot-row {
    height: 0;
}
.screenshot {
    display: inline-block;
    height: 10rem;
    padding: 0;
    margin: 2px 0.4rem 0.4rem 0.4rem;
    border-radius: 1rem;
    outline-width: 2px;
    outline-style: solid;
    outline-color: black;
}
#screenshot-container {
    display: block;
    position: relative;
    background-color: transparent;
    
    height: auto;
    width: fit-content;
    max-width: 96%;
    margin: 1rem auto;
    border-radius: 1rem;
    
    overflow: auto;
    white-space: nowrap;
    font-size: 0;
    text-align: center;
}

#game-description {
    margin: 2rem auto;
    width: 94%;
}

#description-container {
    height: auto;
    width: 96%;
    margin: 1rem auto;
    background-color: rgb(142, 184, 212);
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 2rem;
    overflow: hidden;
}

#dev-tag {
    padding: 0 0 1rem 1rem;
    width: 100%;
}

.dev-logo {
    height: 3rem;
    padding: 0 0.2rem;
    display: inline-block;
    vertical-align: middle;
}

.developed-by {
    font-family: 'Roboto', sans-serif; 
    font-weight: 700;
    padding: 0 0.5rem;
    margin: auto 0;
    display: inline;
    vertical-align: middle;
}

#copy-game-link {
    display: block;
    position: relative;

    padding: 0;
    margin: 0 2rem 0 0;
    background-color: aqua;

    width: 6rem;
    height: 2rem;
    border-radius: 0.4rem;

    font-size: 0.7rem;
}

#canvas-frame {
    position: relative;
}

#unity-background {
    display: block;
    position: relative;
    height: 100%;
}

#unity-container 
{ 
    position: relative; 
    width: 100%;
    height: 100%;
}
#canvas-holder
{
    margin: auto;
    position: relative;
    width: 960px;
    height: 2000px;
}
#unity-canvas 
{ 
    margin: 0 auto;
    background: #231F20;
    display: block;
}
/*
#unity-container.unity-desktop 
{

}*/
#lfs-question
{ 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}

#unity-loading-bar 
{ 
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    display: none 
}
#unity-logo 
{ 
    width: 150px;
    height: 150px;
}
#unity-progress-bar-empty 
{ 
    width: 100%; 
    height: 18px; 
    margin-top: 10px; 
    background: no-repeat;
    background-image: url('https://a1games.fun/files/img/webplayer/progress-bar-empty-dark.png');
    background-position: center;
}
#unity-progress-bar-full 
{ 
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: no-repeat;
    background-image: url('https://a1games.fun/files/img/webplayer/progress-bar-full-dark.png');
    background-position: center;
}
#unity-footer
{ 
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow: auto;
    background-color: #aff2ff;
    vertical-align: top;
}

#unity-fullscreen-button 
{ 
    border-radius: 0.2rem;
    margin: 0.3rem;
    width: 36px;
    height: 36px;
    background: no-repeat;
    background-image: url('../files/img/webplayer/fullscreen-button.png');
    background-position: center;
}
#unity-warning 
{ 
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none;
}

#unity-container.unity-mobile 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-canvas 
{ 
    width: 100%; 
    height: 100% 
}
.unity-mobile #unity-footer 
{ 
    display: none
}